<?xml version="1.0" encoding="utf-8"?>
<module name="ImagePointEditor" clientResourceRelativePath="1.0.1" tags="EPiServerModulePackage">
  <assemblies>
    <add assembly="ImagePointEditor" />
  </assemblies>
  <dojo>
    <paths>
      <add name="imagepointeditor" path="ClientResources" />
    </paths>
  </dojo>
</module>