<?xml version="1.0" encoding="utf-8"?>
<module name="ImagePointEditor" clientResourceRelativePath="2" tags="EPiServerModulePackage">
  <!--<assemblies>
    <add assembly="OptimizelyCMS" />
  </assemblies>-->
  <dojo>
    <paths>
      <add name="imagepointeditor" path="ClientResources" />
    </paths>
  </dojo>
</module>